* {
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%); 
    font-size: 15px;
    width: 1440px;
    height: 1056px;
}
    
section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);          
    background-color: hsl(244, 38%, 16%);
    text-align: left;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 1000px;
    height: 500px;
    border-radius: 15px;
} 

#data {
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    padding: 40px;
}

.section-image {
    float: right;
    width: 500px;
    height: 50%;
    position: relative;
    right: -100%;
}
img {
    width: 500px;
    height: 500px;

}
h1 {
    display: inline-block;

}
.section-stats p, h1{
    display: block;
    
}

span {
    color: hsl(277, 64%, 61%);
}

h1, p {
    color: hsla(0, 0%, 100%, 0.6);
}

.overlay {
    background: hsl(277, 64%, 61%);
    width: 50%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
    z-index: 10;
    border-radius: inherit;
}
.attribution { 
    font-size: 15px; 
    text-align: center;
    color: #fff;
    margin: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    padding: 10px 10px;
    background-color: cyan;
    border-radius: 15px;
    transition: 0.8s;
}

.attribution a:hover {
    background-color: #0ba;
    color: inherit;
    transition: 0.8s;
}
@media only screen and (max-width:550px) {
    body {
        max-width: 550px;
    }
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "image"
        "data"
        ;
        max-width: 500px;
        height: auto;
        margin: auto;
    }

    #data {
        grid-area: data;
        padding: 25px;
        width: 550px;
        font-size: 15px;
        text-align: center;

    }

    #data h1, p {
        display: block;
        margin: 0 30px 0 0px;
        padding: 20px;
    }
    .section-image {
        position: static;
        overflow: hidden;
        width: 500px;
        height: max-content;
        object-fit: fill;
    }
    .overlay {
        width: 500px;
        height: 50%;
        border-radius: 0;
    }
    .section-stats p, h1{
        display: inline;
    }
}